root = "."
tmp_dir = "tmp"

[build]
cmd = "go build -o ./bin/api ./cmd/api"

bin = "bin/api"
# full_bin = "./bin/api -limiter-enabled=false"
include_ext = ["go", "toml"]
exclude_dir = ["bin", "tmp", "vendor"]
log = "tmp/build-errors.log"
delay = 1000 # 1s
stop_on_error = true

[log]
time = true

[color]
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"

[misc]
clean_on_exit = true
