
services:
  db:
    image: postgres:17-alpine
    restart: always
    environment:
      POSTGRES_USER: wallet  
      POSTGRES_PASSWORD: norton_texas 
      POSTGRES_DB: wallet        
    ports:
      - "5436:5432" 
    volumes:
      - wallet_data:/var/lib/postgresql/data

  valkey:
    image: valkey/valkey:latest
    restart: always
    ports:
      - "6400:6379"

  api:
    build: 
      context: .
      dockerfile: Dockerfile.dev
    restart: always
    ports:
      - "8088:8088"
    env_file:
      - .env
    environment:
    - GOOSE_DBSTRING=postgres://${DB_USER}:${DB_PASS}@db:5432/${DB_NAME}?sslmode=disable
    - CACHE_DSN=valkey://valkey:6379/0
    depends_on:
      - db
      - valkey 
    volumes:
      - .:/app

volumes:
  wallet_data:

